html {
}

body {
  /*position: absolute;*/
  margin:0;
  /*top: 8px;
  right: 8px;
  bottom: 8px;
  left: 8px;*/
  color: #01A2A6;
  background: url("../images/bank.jpg") repeat;
}

.container {
  margin-top: 30px;
  padding-bottom: 30px;
  background-color: rgba(255,255,255,.7);

}

.form-group input {
  color:green;
}
.stretch {
  display: block;
  width: 100%;
}

#account-info {
  display:none;
}

.page-header {
  margin-bottom: 75px;
  font-family: "Georgia", serif;
  border-bottom: 2px double #999;
}

.input-group-addon {
  color: green;
}
